# Build Files
.dep
build
util/jlink_flashloader/FlashLoader_HT32/Output
.tmp.bin
/*.bin
disassemble/**/*.s.bin
disassemble/**/*.s.elf

# Editor Files
*.swp
*.kate-swp
*.vim

# IDE Files
*.user
*.user.*
util/jlink_flashloader/FlashLoader_HT32/*.emSession
util/jlink_flashloader/FlashLoader_HT32/*.jlink
*.jdebug

*.id0
*.id1
*.id2
*.nam

