.SPRITE_close{background:no-repeat url(iw_sprite.png) -42px -69px;width:14px;height:13px}
.SPRITE_maximize{background:no-repeat url(iw_sprite.png) -14px -95px;width:14px;height:13px}
.SPRITE_restore{background:no-repeat url(iw_sprite.png) -47px -150px;width:14px;height:13px}
.SPRITE_iw_ne{background:no-repeat url(iw_sprite.png) -48px -53px;width:6px;height:6px}
.SPRITE_iw_nw{background:no-repeat url(iw_sprite.png) -78px 0;width:6px;height:6px}
.SPRITE_iw_se0{background:no-repeat url(iw_sprite.png) -106px 0;width:6px;height:6px}
.SPRITE_iw_sw0{background:no-repeat url(iw_sprite.png) -21px 0;width:6px;height:6px}
.SPRITE_iw_tab_1dl{background:no-repeat url(iw_sprite.png) -107px -116px;width:6px;height:26px}
.SPRITE_iw_tab_1l{background:no-repeat url(iw_sprite.png) -27px 0;width:6px;height:26px}
.SPRITE_iw_tab_dl{background:no-repeat url(iw_sprite.png) -8px -116px;width:11px;height:26px}
.SPRITE_iw_tab_dr{background:no-repeat url(iw_sprite.png) -92px 0;width:14px;height:26px}
.SPRITE_iw_tab_l{background:no-repeat url(iw_sprite.png) -60px -69px;width:11px;height:26px}
.SPRITE_iw_tab_r{background:no-repeat url(iw_sprite.png) -78px -6px;width:14px;height:26px}
.SPRITE_iw_tabback_1dl{background:no-repeat url(iw_sprite.png) -21px -6px;width:6px;height:26px}
.SPRITE_iw_tabback_1l{background:no-repeat url(iw_sprite.png) -8px -69px;width:6px;height:26px}
.SPRITE_iw_tabback_dl{background:no-repeat url(iw_sprite.png) -102px -40px;width:11px;height:26px}
.SPRITE_iw_tabback_dr{background:no-repeat url(iw_sprite.png) -80px -32px;width:14px;height:26px}
.SPRITE_iw_tabback_l{background:no-repeat url(iw_sprite.png) -47px -116px;width:11px;height:26px}
.SPRITE_iw_tabback_r{background:no-repeat url(iw_sprite.png) -14px -69px;width:14px;height:26px}
.SPRITE_iw_xtap{background:no-repeat url(iw_sprite.png) -48px -32px;width:32px;height:21px}
.SPRITE_iw_xtap_l{background:no-repeat url(iw_sprite.png) -61px -137px;width:32px;height:21px}
.SPRITE_iw_xtap_ld{background:no-repeat url(iw_sprite.png) 0 0;width:21px;height:32px}
.SPRITE_iw_xtap_rd{background:no-repeat url(iw_sprite.png) -49px 0;width:21px;height:32px}
.SPRITE_iw_xtap_u{background:no-repeat url(iw_sprite.png) -71px -69px;width:32px;height:21px}
.SPRITE_iw_xtap_ul{background:no-repeat url(iw_sprite.png) -69px -116px;width:32px;height:21px}
.SPRITE_iws_ne{background:no-repeat url(iw_sprite.png) -47px -142px;width:8px;height:8px}
.SPRITE_iws_nw{background:no-repeat url(iw_sprite.png) -33px 0;width:8px;height:8px}
.SPRITE_iws_se{background:no-repeat url(iw_sprite.png) -102px -32px;width:8px;height:8px}
.SPRITE_iws_sw{background:no-repeat url(iw_sprite.png) -61px -116px;width:8px;height:8px}
.SPRITE_iws_tab_1dl{background:no-repeat url(iw_sprite.png) -70px 0;width:8px;height:28px}
.SPRITE_iws_tab_1l{background:no-repeat url(iw_sprite.png) -41px 0;width:8px;height:28px}
.SPRITE_iws_tab_dl{background:no-repeat url(iw_sprite.png) 0 -69px;width:8px;height:28px}
.SPRITE_iws_tab_do{background:no-repeat url(iw_sprite.png) -19px -153px;width:14px;height:28px}
.SPRITE_iws_tab_dr{background:no-repeat url(iw_sprite.png) -93px -137px;width:14px;height:28px}
.SPRITE_iws_tab_l{background:no-repeat url(iw_sprite.png) -94px -32px;width:8px;height:28px}
.SPRITE_iws_tab_o{background:no-repeat url(iw_sprite.png) -33px -153px;width:14px;height:28px}
.SPRITE_iws_tab_r{background:no-repeat url(iw_sprite.png) -28px -69px;width:14px;height:28px}
.SPRITE_iws_tap{background:no-repeat url(iw_sprite.png) -61px -165px;width:37px;height:16px}
.SPRITE_iws_tap_l{background:no-repeat url(iw_sprite.png) -28px -97px;width:32px;height:16px}
.SPRITE_iws_tap_ld{background:no-repeat url(iw_sprite.png) -19px -116px;width:26px;height:37px}
.SPRITE_iws_tap_rd{background:no-repeat url(iw_sprite.png) 0 -32px;width:16px;height:37px}
.SPRITE_iws_tap_u{background:no-repeat url(iw_sprite.png) -71px -90px;width:37px;height:26px}
.SPRITE_iws_tap_ul{background:no-repeat url(iw_sprite.png) -16px -32px;width:32px;height:26px}
